body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5162 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u5163 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5164 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u5165 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5166 {
  position:absolute;
  left:0px;
  top:600px;
  width:360px;
  height:40px;
}
#u5167 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5168 {
  position:absolute;
  left:399px;
  top:39px;
  width:121px;
  height:562px;
}
#u5169 {
  position:absolute;
  left:2px;
  top:273px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5170 {
  position:absolute;
  left:0px;
  top:39px;
  width:360px;
  height:100px;
}
#u5171 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5172 {
  position:absolute;
  left:0px;
  top:139px;
  width:360px;
  height:100px;
}
#u5173 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5174 {
  position:absolute;
  left:0px;
  top:239px;
  width:360px;
  height:100px;
}
#u5175 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5176 {
  position:absolute;
  left:0px;
  top:339px;
  width:360px;
  height:100px;
}
#u5177 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5178 {
  position:absolute;
  left:590px;
  top:440px;
  width:360px;
  height:100px;
}
#u5179 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
