body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:360px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6409 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:360px;
}
#u6410 {
  position:absolute;
  left:2px;
  top:172px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6411 {
  position:absolute;
  left:10px;
  top:10px;
  width:92px;
  height:18px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6412 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u6413 {
  position:absolute;
  left:136px;
  top:4px;
  width:304px;
  height:30px;
}
#u6413_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6414 {
  position:absolute;
  left:10px;
  top:59px;
  width:79px;
  height:18px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6415 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6416 {
  position:absolute;
  left:136px;
  top:54px;
  width:120px;
  height:30px;
}
#u6416_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u6417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6417 {
  position:absolute;
  left:10px;
  top:105px;
  width:79px;
  height:18px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6418 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6419 {
  position:absolute;
  left:136px;
  top:100px;
  width:120px;
  height:30px;
}
#u6419_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u6420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6420 {
  position:absolute;
  left:10px;
  top:149px;
  width:66px;
  height:18px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6421 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6422 {
  position:absolute;
  left:460px;
  top:4px;
  width:90px;
  height:30px;
}
#u6422_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6423 {
  position:absolute;
  left:136px;
  top:144px;
  width:120px;
  height:30px;
}
#u6423_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6423_input:disabled {
  color:grayText;
}
#u6424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6424 {
  position:absolute;
  left:10px;
  top:193px;
  width:66px;
  height:18px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6425 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6426 {
  position:absolute;
  left:136px;
  top:187px;
  width:120px;
  height:30px;
}
#u6426_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u6427 {
  position:absolute;
  left:266px;
  top:187px;
  width:90px;
  height:30px;
}
#u6427_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6428 {
  position:absolute;
  left:10px;
  top:236px;
  width:66px;
  height:18px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6429 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6430 {
  position:absolute;
  left:136px;
  top:230px;
  width:120px;
  height:30px;
}
#u6430_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u6431 {
  position:absolute;
  left:240px;
  top:310px;
  width:90px;
  height:30px;
}
#u6431_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6432 {
  position:absolute;
  left:10px;
  top:276px;
  width:66px;
  height:18px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6433 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6434 {
  position:absolute;
  left:136px;
  top:270px;
  width:120px;
  height:30px;
}
#u6434_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u6435 {
  position:absolute;
  left:270px;
  top:239px;
  width:100px;
  height:18px;
}
#u6436 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6435_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
