body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u33640 {
  position:absolute;
  left:18px;
  top:11px;
  width:150px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u33641 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u33642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u33642 {
  position:absolute;
  left:167px;
  top:11px;
  width:348px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u33643 {
  position:absolute;
  left:2px;
  top:10px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33644 {
  position:absolute;
  left:178px;
  top:15px;
  width:331px;
  height:28px;
}
#u33644_input {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33644_input:disabled {
  color:grayText;
}
#u33645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:791px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u33646 {
  position:absolute;
  left:18px;
  top:56px;
  width:1240px;
  height:791px;
}
#u33647 {
  position:absolute;
  left:2px;
  top:388px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:2px;
}
#u33648 {
  position:absolute;
  left:28px;
  top:90px;
  width:1220px;
  height:1px;
}
#u33649 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u33650 {
  position:absolute;
  left:28px;
  top:67px;
  width:16px;
  height:16px;
}
#u33651 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u33652 {
  position:absolute;
  left:50px;
  top:65px;
  width:295px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u33653 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u33654 {
  position:absolute;
  left:544px;
  top:11px;
  width:278px;
  height:30px;
}
#u33654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33654_input:disabled {
  color:grayText;
}
