body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:220px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19795 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:220px;
}
#u19796 {
  position:absolute;
  left:2px;
  top:102px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u19797 {
  position:absolute;
  left:10px;
  top:15px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u19798 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19799 {
  position:absolute;
  left:136px;
  top:10px;
  width:120px;
  height:30px;
}
#u19799_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19799_input:disabled {
  color:grayText;
}
#u19800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u19800 {
  position:absolute;
  left:10px;
  top:59px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u19801 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19802 {
  position:absolute;
  left:136px;
  top:53px;
  width:120px;
  height:30px;
}
#u19802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u19803 {
  position:absolute;
  left:273px;
  top:53px;
  width:94px;
  height:30px;
}
#u19803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u19804 {
  position:absolute;
  left:10px;
  top:102px;
  width:66px;
  height:18px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u19805 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19806 {
  position:absolute;
  left:136px;
  top:96px;
  width:120px;
  height:30px;
}
#u19806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u19807 {
  position:absolute;
  left:151px;
  top:180px;
  width:90px;
  height:30px;
}
#u19807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u19808 {
  position:absolute;
  left:10px;
  top:142px;
  width:92px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u19809 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u19810 {
  position:absolute;
  left:136px;
  top:136px;
  width:120px;
  height:30px;
}
#u19810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u19811 {
  position:absolute;
  left:270px;
  top:105px;
  width:100px;
  height:18px;
}
#u19812 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19811_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
