body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:633px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u20791 {
  position:absolute;
  left:4px;
  top:12px;
  width:629px;
  height:231px;
}
#u20792 {
  position:absolute;
  left:2px;
  top:108px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20793 {
  position:absolute;
  left:13px;
  top:23px;
  width:612px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20794 {
  position:absolute;
  left:2px;
  top:9px;
  width:608px;
  word-wrap:break-word;
}
#u20795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20795 {
  position:absolute;
  left:13px;
  top:57px;
  width:612px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20796 {
  position:absolute;
  left:2px;
  top:9px;
  width:608px;
  word-wrap:break-word;
}
#u20797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20797 {
  position:absolute;
  left:13px;
  top:158px;
  width:612px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20798 {
  position:absolute;
  left:2px;
  top:9px;
  width:608px;
  word-wrap:break-word;
}
#u20799 {
  position:absolute;
  left:93px;
  top:203px;
  width:70px;
  height:25px;
}
#u20799_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20800 {
  position:absolute;
  left:13px;
  top:203px;
  width:70px;
  height:25px;
}
#u20800_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20801 {
  position:absolute;
  left:13px;
  top:90px;
  width:612px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20802 {
  position:absolute;
  left:2px;
  top:9px;
  width:608px;
  word-wrap:break-word;
}
#u20803 {
  position:absolute;
  left:103px;
  top:94px;
  width:120px;
  height:25px;
}
#u20803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20804 {
  position:absolute;
  left:13px;
  top:124px;
  width:612px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20805 {
  position:absolute;
  left:2px;
  top:9px;
  width:608px;
  word-wrap:break-word;
}
#u20806 {
  position:absolute;
  left:103px;
  top:128px;
  width:120px;
  height:25px;
}
#u20806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20807 {
  position:absolute;
  left:103px;
  top:25px;
  width:278px;
  height:30px;
}
#u20807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20807_input:disabled {
  color:grayText;
}
#u20808 {
  position:absolute;
  left:103px;
  top:62px;
  width:120px;
  height:25px;
}
#u20808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u20809 {
  position:absolute;
  left:391px;
  top:32px;
  width:218px;
  height:18px;
  color:#FF0000;
}
#u20810 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u20811 {
  position:absolute;
  left:103px;
  top:163px;
  width:120px;
  height:25px;
}
#u20811_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
