body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15019 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:124px;
}
#u15020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u15020 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u15021 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u15022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u15022 {
  position:absolute;
  left:102px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u15023 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u15024 {
  position:absolute;
  left:0px;
  top:30px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u15025 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u15026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u15026 {
  position:absolute;
  left:102px;
  top:30px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u15027 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
}
#u15028 {
  position:absolute;
  left:0px;
  top:60px;
  width:102px;
  height:29px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u15029 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u15030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u15030 {
  position:absolute;
  left:102px;
  top:60px;
  width:93px;
  height:29px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u15031 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u15032 {
  position:absolute;
  left:0px;
  top:89px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u15033 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u15034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u15034 {
  position:absolute;
  left:102px;
  top:89px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u15035 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
}
#u15036 {
  position:absolute;
  left:136px;
  top:10px;
  width:40px;
  height:10px;
}
#u15037 {
  position:absolute;
  left:2px;
  top:-3px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u15038 {
  position:absolute;
  left:148px;
  top:34px;
  width:22px;
  height:21px;
}
#u15039 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u15040 {
  position:absolute;
  left:142px;
  top:95px;
  width:30px;
  height:20px;
}
#u15041 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u15042 {
  position:absolute;
  left:142px;
  top:61px;
  width:30px;
  height:24px;
}
#u15043 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
