body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16396 {
  position:absolute;
  left:-780px;
  top:-1456px;
  touch-action:none;
}
#u16396_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16396_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:2172px;
}
#u16397 {
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:2172px;
}
#u16398 {
  position:absolute;
  left:2px;
  top:1078px;
  width:1736px;
  visibility:hidden;
  word-wrap:break-word;
}
