body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:342px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22727 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:342px;
}
#u22728 {
  position:absolute;
  left:2px;
  top:163px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22729 {
  position:absolute;
  left:19px;
  top:14px;
  width:79px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22730 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u22731 {
  position:absolute;
  left:145px;
  top:8px;
  width:200px;
  height:30px;
}
#u22731_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u22732 {
  position:absolute;
  left:19px;
  top:107px;
  width:361px;
  height:104px;
  overflow:hidden;
}
#u22732_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:104px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u22732_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:104px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22733 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:104px;
}
#u22734 {
  position:absolute;
  left:2px;
  top:44px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22735 {
  position:absolute;
  left:0px;
  top:6px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22736 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22737 {
  position:absolute;
  left:126px;
  top:0px;
  width:200px;
  height:30px;
}
#u22737_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u22738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22738 {
  position:absolute;
  left:0px;
  top:57px;
  width:105px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22739 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u22740 {
  position:absolute;
  left:126px;
  top:51px;
  width:200px;
  height:30px;
}
#u22740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u22741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#BCBCBC;
}
#u22741 {
  position:absolute;
  left:336px;
  top:7px;
  width:14px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#BCBCBC;
}
#u22742 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u22732_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:104px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22732_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:104px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22743 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:104px;
}
#u22744 {
  position:absolute;
  left:2px;
  top:44px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22745 {
  position:absolute;
  left:0px;
  top:6px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22746 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22747 {
  position:absolute;
  left:126px;
  top:0px;
  width:200px;
  height:30px;
}
#u22747_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u22748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22748 {
  position:absolute;
  left:0px;
  top:58px;
  width:105px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22749 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u22750 {
  position:absolute;
  left:126px;
  top:52px;
  width:200px;
  height:30px;
}
#u22750_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u22751 {
  position:absolute;
  left:19px;
  top:211px;
}
#u22751_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22751_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22752 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22753 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22754 {
  position:absolute;
  left:126px;
  top:0px;
  width:200px;
  height:60px;
}
#u22754_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22755 {
  position:absolute;
  left:137px;
  top:296px;
  width:90px;
  height:30px;
}
#u22755_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22756 {
  position:absolute;
  left:19px;
  top:64px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u22757 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22758 {
  position:absolute;
  left:145px;
  top:58px;
  width:200px;
  height:30px;
}
#u22758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22758_input:disabled {
  color:grayText;
}
