body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:267px;
}
#u26193 {
  position:absolute;
  left:0px;
  top:11px;
  width:490px;
  height:267px;
}
#u26194 {
  position:absolute;
  left:2px;
  top:126px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:2px;
}
#u26195 {
  position:absolute;
  left:0px;
  top:6px;
  width:490px;
  height:1px;
}
#u26196 {
  position:absolute;
  left:2px;
  top:-8px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26197 {
  position:absolute;
  left:17px;
  top:80px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26198 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26199 {
  position:absolute;
  left:17px;
  top:29px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26200 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26201 {
  position:absolute;
  left:143px;
  top:74px;
  width:114px;
  height:30px;
}
#u26201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u26202 {
  position:absolute;
  left:267px;
  top:80px;
  width:72px;
  height:18px;
  color:#FF0000;
}
#u26203 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u26204 {
  position:absolute;
  left:143px;
  top:23px;
  width:114px;
  height:30px;
}
#u26204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26205 {
  position:absolute;
  left:17px;
  top:227px;
  width:80px;
  height:30px;
}
#u26205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26206 {
  position:absolute;
  left:107px;
  top:227px;
  width:80px;
  height:30px;
}
#u26206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26207 {
  position:absolute;
  left:197px;
  top:227px;
  width:80px;
  height:30px;
}
#u26207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26208 {
  position:absolute;
  left:17px;
  top:131px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26209 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26210 {
  position:absolute;
  left:143px;
  top:131px;
  width:300px;
  height:79px;
}
#u26210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:79px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
