body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:267px;
}
#u26282 {
  position:absolute;
  left:0px;
  top:11px;
  width:490px;
  height:267px;
}
#u26283 {
  position:absolute;
  left:2px;
  top:126px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:2px;
}
#u26284 {
  position:absolute;
  left:0px;
  top:6px;
  width:490px;
  height:1px;
}
#u26285 {
  position:absolute;
  left:2px;
  top:-8px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26286 {
  position:absolute;
  left:17px;
  top:80px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26287 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26288 {
  position:absolute;
  left:17px;
  top:29px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26289 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26290 {
  position:absolute;
  left:143px;
  top:74px;
  width:114px;
  height:30px;
}
#u26290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u26291 {
  position:absolute;
  left:267px;
  top:80px;
  width:72px;
  height:18px;
  color:#FF0000;
}
#u26292 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u26293 {
  position:absolute;
  left:143px;
  top:23px;
  width:114px;
  height:30px;
}
#u26293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26294 {
  position:absolute;
  left:17px;
  top:227px;
  width:80px;
  height:30px;
}
#u26294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26295 {
  position:absolute;
  left:107px;
  top:227px;
  width:80px;
  height:30px;
}
#u26295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26296 {
  position:absolute;
  left:197px;
  top:227px;
  width:80px;
  height:30px;
}
#u26296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26297 {
  position:absolute;
  left:17px;
  top:131px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u26298 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26299 {
  position:absolute;
  left:143px;
  top:131px;
  width:300px;
  height:79px;
}
#u26299_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:79px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
