body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:227px;
}
#u11609 {
  position:absolute;
  left:0px;
  top:11px;
  width:535px;
  height:227px;
}
#u11610 {
  position:absolute;
  left:2px;
  top:106px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:2px;
}
#u11611 {
  position:absolute;
  left:0px;
  top:6px;
  width:535px;
  height:1px;
}
#u11612 {
  position:absolute;
  left:2px;
  top:-8px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11613 {
  position:absolute;
  left:176px;
  top:80px;
  width:139px;
  height:51px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11614 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u11615 {
  position:absolute;
  left:198px;
  top:173px;
  width:140px;
  height:25px;
}
#u11615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
