body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9042 {
  position:absolute;
  left:-780px;
  top:-1456px;
  touch-action:none;
}
#u9042_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1740px;
  height:2172px;
  background-image:none;
}
#u9042_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:2172px;
}
#u9043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:2172px;
}
#u9043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
