body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:658px;
}
#u21210 {
  position:absolute;
  left:33px;
  top:0px;
  width:897px;
  height:658px;
}
#u21211 {
  position:absolute;
  left:2px;
  top:321px;
  width:893px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:658px;
}
#u21212 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:658px;
}
#u21213 {
  position:absolute;
  left:2px;
  top:312px;
  width:31px;
  word-wrap:break-word;
}
#u21214 {
  position:absolute;
  left:0px;
  top:697px;
  width:935px;
  height:65px;
}
#u21215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u21215 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21216 {
  position:absolute;
  left:4px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u21217 {
  position:absolute;
  left:28px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21218 {
  position:absolute;
  left:4px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u21219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u21219 {
  position:absolute;
  left:178px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21220 {
  position:absolute;
  left:4px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u21221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u21221 {
  position:absolute;
  left:270px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21222 {
  position:absolute;
  left:4px;
  top:2px;
  width:169px;
  word-wrap:break-word;
}
#u21223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u21223 {
  position:absolute;
  left:445px;
  top:0px;
  width:72px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21224 {
  position:absolute;
  left:4px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u21225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u21225 {
  position:absolute;
  left:517px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21226 {
  position:absolute;
  left:4px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u21227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u21227 {
  position:absolute;
  left:584px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21228 {
  position:absolute;
  left:4px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u21229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u21229 {
  position:absolute;
  left:686px;
  top:0px;
  width:244px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21230 {
  position:absolute;
  left:4px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u21231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u21231 {
  position:absolute;
  left:0px;
  top:30px;
  width:28px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21232 {
  position:absolute;
  left:4px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u21233 {
  position:absolute;
  left:28px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21234 {
  position:absolute;
  left:4px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u21235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u21235 {
  position:absolute;
  left:178px;
  top:30px;
  width:92px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21236 {
  position:absolute;
  left:4px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u21237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u21237 {
  position:absolute;
  left:270px;
  top:30px;
  width:175px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21238 {
  position:absolute;
  left:4px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u21239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u21239 {
  position:absolute;
  left:445px;
  top:30px;
  width:72px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21240 {
  position:absolute;
  left:4px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u21241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u21241 {
  position:absolute;
  left:517px;
  top:30px;
  width:67px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21242 {
  position:absolute;
  left:4px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u21243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u21243 {
  position:absolute;
  left:584px;
  top:30px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21244 {
  position:absolute;
  left:4px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u21245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u21245 {
  position:absolute;
  left:686px;
  top:30px;
  width:244px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21246 {
  position:absolute;
  left:4px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u21247 {
  position:absolute;
  left:8px;
  top:735px;
  width:20px;
  height:16px;
}
#u21248 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21247_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21249 {
  position:absolute;
  left:8px;
  top:705px;
  width:20px;
  height:16px;
}
#u21250 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21249_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21251 {
  position:absolute;
  left:8px;
  top:668px;
  width:183px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21252 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u21253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21253 {
  position:absolute;
  left:45px;
  top:266px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21254 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21255 {
  position:absolute;
  left:45px;
  top:312px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21256 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21257 {
  position:absolute;
  left:171px;
  top:169px;
  width:170px;
  height:13px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21258 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21259 {
  position:absolute;
  left:171px;
  top:365px;
  width:170px;
  height:13px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21260 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21261 {
  position:absolute;
  left:171px;
  top:261px;
  width:200px;
  height:30px;
}
#u21261_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21261_input:disabled {
  color:grayText;
}
#u21262 {
  position:absolute;
  left:171px;
  top:307px;
  width:200px;
  height:30px;
}
#u21262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21262_input:disabled {
  color:grayText;
}
#u21263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21263 {
  position:absolute;
  left:171px;
  top:415px;
  width:170px;
  height:13px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21264 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21265 {
  position:absolute;
  left:45px;
  top:464px;
  width:92px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21266 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u21267 {
  position:absolute;
  left:171px;
  top:464px;
  width:350px;
  height:69px;
}
#u21267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:69px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21268 {
  position:absolute;
  left:45px;
  top:16px;
  width:92px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21269 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u21270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21270 {
  position:absolute;
  left:45px;
  top:167px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21271 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21272 {
  position:absolute;
  left:45px;
  top:65px;
  width:92px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21273 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u21274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21274 {
  position:absolute;
  left:45px;
  top:116px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21275 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21276 {
  position:absolute;
  left:45px;
  top:363px;
  width:53px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21277 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21278 {
  position:absolute;
  left:45px;
  top:413px;
  width:79px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21279 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u21280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21280 {
  position:absolute;
  left:45px;
  top:554px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21281 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21283 {
  position:absolute;
  left:171px;
  top:614px;
  width:30px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u21284 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u21285 {
  position:absolute;
  left:175px;
  top:627px;
  width:22px;
  height:4px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u21286 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:22px;
}
#u21287 {
  position:absolute;
  left:184px;
  top:618px;
  width:4px;
  height:22px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u21288 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A1A1A1;
}
#u21289 {
  position:absolute;
  left:211px;
  top:620px;
  width:79px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A1A1A1;
}
#u21290 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u21291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21291 {
  position:absolute;
  left:171px;
  top:554px;
  width:50px;
  height:50px;
}
#u21292 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21293 {
  position:absolute;
  left:231px;
  top:554px;
  width:50px;
  height:50px;
}
#u21294 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21295 {
  position:absolute;
  left:291px;
  top:554px;
  width:50px;
  height:50px;
}
#u21296 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u21297 {
  position:absolute;
  left:204px;
  top:554px;
  width:17px;
  height:17px;
}
#u21298 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u21299 {
  position:absolute;
  left:264px;
  top:554px;
  width:17px;
  height:17px;
}
#u21300 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u21301 {
  position:absolute;
  left:324px;
  top:554px;
  width:17px;
  height:17px;
}
#u21302 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21303 {
  position:absolute;
  left:45px;
  top:217px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21304 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21305 {
  position:absolute;
  left:171px;
  top:211px;
  width:150px;
  height:30px;
}
#u21305_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21305_input:disabled {
  color:grayText;
}
#u21306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21306 {
  position:absolute;
  left:171px;
  top:18px;
  width:170px;
  height:13px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21307 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21308 {
  position:absolute;
  left:171px;
  top:118px;
  width:170px;
  height:13px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21309 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21310 {
  position:absolute;
  left:191px;
  top:669px;
  width:15px;
  height:15px;
}
#u21311 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21312 {
  position:absolute;
  left:206px;
  top:571px;
  width:246px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21313 {
  position:absolute;
  left:2px;
  top:1px;
  width:242px;
  word-wrap:break-word;
}
#u21314 {
  position:absolute;
  left:395px;
  top:781px;
  width:140px;
  height:25px;
}
#u21314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
