body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:658px;
}
#u21106 {
  position:absolute;
  left:33px;
  top:0px;
  width:897px;
  height:658px;
}
#u21107 {
  position:absolute;
  left:2px;
  top:321px;
  width:893px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:658px;
}
#u21108 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:658px;
}
#u21109 {
  position:absolute;
  left:2px;
  top:312px;
  width:31px;
  word-wrap:break-word;
}
#u21110 {
  position:absolute;
  left:0px;
  top:697px;
  width:935px;
  height:65px;
}
#u21111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u21111 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21112 {
  position:absolute;
  left:4px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u21113 {
  position:absolute;
  left:28px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21114 {
  position:absolute;
  left:4px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u21115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u21115 {
  position:absolute;
  left:178px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21116 {
  position:absolute;
  left:4px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u21117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u21117 {
  position:absolute;
  left:270px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21118 {
  position:absolute;
  left:4px;
  top:2px;
  width:169px;
  word-wrap:break-word;
}
#u21119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u21119 {
  position:absolute;
  left:445px;
  top:0px;
  width:72px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21120 {
  position:absolute;
  left:4px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u21121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u21121 {
  position:absolute;
  left:517px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21122 {
  position:absolute;
  left:4px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u21123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u21123 {
  position:absolute;
  left:584px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21124 {
  position:absolute;
  left:4px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u21125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u21125 {
  position:absolute;
  left:686px;
  top:0px;
  width:244px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21126 {
  position:absolute;
  left:4px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u21127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u21127 {
  position:absolute;
  left:0px;
  top:30px;
  width:28px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21128 {
  position:absolute;
  left:4px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u21129 {
  position:absolute;
  left:28px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21130 {
  position:absolute;
  left:4px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u21131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u21131 {
  position:absolute;
  left:178px;
  top:30px;
  width:92px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21132 {
  position:absolute;
  left:4px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u21133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u21133 {
  position:absolute;
  left:270px;
  top:30px;
  width:175px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21134 {
  position:absolute;
  left:4px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u21135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u21135 {
  position:absolute;
  left:445px;
  top:30px;
  width:72px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21136 {
  position:absolute;
  left:4px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u21137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u21137 {
  position:absolute;
  left:517px;
  top:30px;
  width:67px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21138 {
  position:absolute;
  left:4px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u21139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u21139 {
  position:absolute;
  left:584px;
  top:30px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21140 {
  position:absolute;
  left:4px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u21141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u21141 {
  position:absolute;
  left:686px;
  top:30px;
  width:244px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:13px;
}
#u21142 {
  position:absolute;
  left:4px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u21143 {
  position:absolute;
  left:8px;
  top:735px;
  width:20px;
  height:16px;
}
#u21144 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21145 {
  position:absolute;
  left:8px;
  top:705px;
  width:20px;
  height:16px;
}
#u21146 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21147 {
  position:absolute;
  left:8px;
  top:668px;
  width:183px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21148 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u21149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21149 {
  position:absolute;
  left:45px;
  top:266px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21150 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21151 {
  position:absolute;
  left:45px;
  top:312px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21152 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21153 {
  position:absolute;
  left:171px;
  top:169px;
  width:170px;
  height:13px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21154 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21155 {
  position:absolute;
  left:171px;
  top:365px;
  width:170px;
  height:13px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21156 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21157 {
  position:absolute;
  left:171px;
  top:261px;
  width:200px;
  height:30px;
}
#u21157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21157_input:disabled {
  color:grayText;
}
#u21158 {
  position:absolute;
  left:171px;
  top:307px;
  width:200px;
  height:30px;
}
#u21158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21158_input:disabled {
  color:grayText;
}
#u21159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21159 {
  position:absolute;
  left:171px;
  top:415px;
  width:170px;
  height:13px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21160 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21161 {
  position:absolute;
  left:45px;
  top:464px;
  width:92px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21162 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u21163 {
  position:absolute;
  left:171px;
  top:464px;
  width:350px;
  height:69px;
}
#u21163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:69px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21164 {
  position:absolute;
  left:45px;
  top:16px;
  width:92px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21165 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u21166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21166 {
  position:absolute;
  left:45px;
  top:167px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21167 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21168 {
  position:absolute;
  left:45px;
  top:65px;
  width:92px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21169 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u21170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21170 {
  position:absolute;
  left:45px;
  top:116px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21171 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21172 {
  position:absolute;
  left:45px;
  top:363px;
  width:53px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21173 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21174 {
  position:absolute;
  left:45px;
  top:413px;
  width:79px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21175 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u21176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21176 {
  position:absolute;
  left:45px;
  top:554px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21177 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21179 {
  position:absolute;
  left:171px;
  top:614px;
  width:30px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u21180 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u21181 {
  position:absolute;
  left:175px;
  top:627px;
  width:22px;
  height:4px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u21182 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:22px;
}
#u21183 {
  position:absolute;
  left:184px;
  top:618px;
  width:4px;
  height:22px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u21184 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A1A1A1;
}
#u21185 {
  position:absolute;
  left:211px;
  top:620px;
  width:79px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A1A1A1;
}
#u21186 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u21187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21187 {
  position:absolute;
  left:171px;
  top:554px;
  width:50px;
  height:50px;
}
#u21188 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21189 {
  position:absolute;
  left:231px;
  top:554px;
  width:50px;
  height:50px;
}
#u21190 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21191 {
  position:absolute;
  left:291px;
  top:554px;
  width:50px;
  height:50px;
}
#u21192 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u21193 {
  position:absolute;
  left:204px;
  top:554px;
  width:17px;
  height:17px;
}
#u21194 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u21195 {
  position:absolute;
  left:264px;
  top:554px;
  width:17px;
  height:17px;
}
#u21196 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u21197 {
  position:absolute;
  left:324px;
  top:554px;
  width:17px;
  height:17px;
}
#u21198 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21199 {
  position:absolute;
  left:45px;
  top:217px;
  width:66px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u21200 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21201 {
  position:absolute;
  left:171px;
  top:211px;
  width:150px;
  height:30px;
}
#u21201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21201_input:disabled {
  color:grayText;
}
#u21202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21202 {
  position:absolute;
  left:171px;
  top:18px;
  width:170px;
  height:13px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21203 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21204 {
  position:absolute;
  left:171px;
  top:118px;
  width:170px;
  height:13px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:13px;
}
#u21205 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21206 {
  position:absolute;
  left:191px;
  top:669px;
  width:15px;
  height:15px;
}
#u21207 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21208 {
  position:absolute;
  left:206px;
  top:571px;
  width:246px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21209 {
  position:absolute;
  left:2px;
  top:1px;
  width:242px;
  word-wrap:break-word;
}
#u21210 {
  position:absolute;
  left:395px;
  top:781px;
  width:140px;
  height:25px;
}
#u21210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
