body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13815 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:124px;
}
#u13816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u13816 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u13817 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u13818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u13818 {
  position:absolute;
  left:102px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u13819 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u13820 {
  position:absolute;
  left:0px;
  top:30px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u13821 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u13822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u13822 {
  position:absolute;
  left:102px;
  top:30px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u13823 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
}
#u13824 {
  position:absolute;
  left:0px;
  top:60px;
  width:102px;
  height:29px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u13825 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u13826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u13826 {
  position:absolute;
  left:102px;
  top:60px;
  width:93px;
  height:29px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u13827 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u13828 {
  position:absolute;
  left:0px;
  top:89px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u13829 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u13830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u13830 {
  position:absolute;
  left:102px;
  top:89px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u13831 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
}
#u13832 {
  position:absolute;
  left:136px;
  top:10px;
  width:40px;
  height:10px;
}
#u13833 {
  position:absolute;
  left:2px;
  top:-3px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u13834 {
  position:absolute;
  left:148px;
  top:34px;
  width:22px;
  height:21px;
}
#u13835 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u13836 {
  position:absolute;
  left:142px;
  top:95px;
  width:30px;
  height:20px;
}
#u13837 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u13838 {
  position:absolute;
  left:142px;
  top:61px;
  width:30px;
  height:24px;
}
#u13839 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
