body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11628 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:124px;
}
#u11629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u11629 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u11630 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u11631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u11631 {
  position:absolute;
  left:102px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u11632 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u11633 {
  position:absolute;
  left:0px;
  top:30px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u11634 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u11635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u11635 {
  position:absolute;
  left:102px;
  top:30px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u11636 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
}
#u11637 {
  position:absolute;
  left:0px;
  top:60px;
  width:102px;
  height:29px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u11638 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u11639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u11639 {
  position:absolute;
  left:102px;
  top:60px;
  width:93px;
  height:29px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u11640 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u11641 {
  position:absolute;
  left:0px;
  top:89px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u11642 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u11643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u11643 {
  position:absolute;
  left:102px;
  top:89px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u11644 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
}
#u11645 {
  position:absolute;
  left:136px;
  top:10px;
  width:40px;
  height:10px;
}
#u11646 {
  position:absolute;
  left:2px;
  top:-3px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u11647 {
  position:absolute;
  left:148px;
  top:34px;
  width:22px;
  height:21px;
}
#u11648 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u11649 {
  position:absolute;
  left:142px;
  top:95px;
  width:30px;
  height:20px;
}
#u11650 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u11651 {
  position:absolute;
  left:142px;
  top:61px;
  width:30px;
  height:24px;
}
#u11652 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
