body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11604 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:124px;
}
#u11605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u11605 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u11606 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u11607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u11607 {
  position:absolute;
  left:102px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u11608 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u11609 {
  position:absolute;
  left:0px;
  top:30px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u11610 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u11611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u11611 {
  position:absolute;
  left:102px;
  top:30px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u11612 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
}
#u11613 {
  position:absolute;
  left:0px;
  top:60px;
  width:102px;
  height:29px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u11614 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u11615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u11615 {
  position:absolute;
  left:102px;
  top:60px;
  width:93px;
  height:29px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u11616 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u11617 {
  position:absolute;
  left:0px;
  top:89px;
  width:102px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u11618 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u11619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u11619 {
  position:absolute;
  left:102px;
  top:89px;
  width:93px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
  line-height:13px;
}
#u11620 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
}
#u11621 {
  position:absolute;
  left:136px;
  top:10px;
  width:40px;
  height:10px;
}
#u11622 {
  position:absolute;
  left:2px;
  top:-3px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u11623 {
  position:absolute;
  left:148px;
  top:34px;
  width:22px;
  height:21px;
}
#u11624 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u11625 {
  position:absolute;
  left:142px;
  top:95px;
  width:30px;
  height:20px;
}
#u11626 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u11627 {
  position:absolute;
  left:142px;
  top:61px;
  width:30px;
  height:24px;
}
#u11628 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
